
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Seleccionar Juego</title>

</head>
<body>

<section layout:fragment="content">
    <div class="container">
        <h2>Selecciona el juego</h2>
        <br>

        <div class="row text-center">
<!--            <div class="col-12 mb-3">-->
                <a th:href="@{/addition/start}"
                   class="btn btn-outline-secondary btn-lg  square-btn col-3">
                    <img th:src="@{'/images/icons/addition.png'}" class="col-12" alt="Sumas">
                    <span>Sumas</span>
                </a>

                <a th:href="@{/multiplication/select-mode}"
                   class="btn btn-outline-secondary btn-lg square-btn col-3">
                    <img th:src="@{'/images/icons/multiplication.png'}" class="col-12" alt="Multiplicacion">
                    <span>Multiplication</span>
                </a>
<!--            </div>-->
        </div>
    </div>
</section>

</body>
</html>

